* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}
title {
    display: none;
}
ul {
    padding-inline-start: 0;
}
body {
    margin: 0;
}
img {
    border-radius: 10px;
}
/*Boxes*/
.top-wrapper {
    background-color: #1f2937;
    height: 100vh;
}
/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw;

    ul {
    flex-direction: row;
    padding: 0;
    align-items: center;
    gap: 2vw;
}
}   
.logo {
    height: 3em;
    width: 3em;
    align-self: center;
}
a {
    text-decoration: none;
    font-style: italic;
    align-items: end;
}
/*Hero*/
.Hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1vw;
    height: 75vh;
    padding: 2vw;

    .button {
        background-color: #3882f6;
        }
}
.text {
    max-width: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
}
.not-main   {
    gap: 2vw;
}
.bustermoves {
    max-width: 40%;
    max-height: 60%;
    align-self: center;
    flex-grow: 2;
}
/*Info*/
.info {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;

    ul {
        flex-flow: row nowrap;
        max-width: 100vw;
        justify-content: space-evenly;
        gap: 10px;
    }
    li {
        width: 20vw;
        gap: 2vw;
    }
}
.topic {
    display: flex;
    align-self: center;
    font-size: 5vw;
    font-weight: 900;
}
.desc {
    text-align: center;
    font-size: 2vw;
}
/*Quote*/
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 5em;
    padding-bottom: 5em;
    gap: 2em;
    background-color: #e5e7eb;
}
.call, .resp, .source {
    font-size: 4vw;
    font-style: italic;
    width: 80vw;
}
/*Recommendations*/
.recs {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 35vh;
    align-self: center;
    justify-content: space-evenly;
    background-color: #3882f6;
    padding: 1em;
    border-radius: 7px;
    margin-top: 10vh;
    margin-bottom: 10vh;

    .button {
        border-style: solid;
        border-color: #f9faf8;
        align-self: center;
        text-align: center;
    }
}
.prompt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 3;

    div {
        text-align: center;
    }
}
.button-wrapper {
    justify-content: center;
    align-self: center;
    flex: 1;
}
/*Sources*/
.credits {
    gap: 10px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #1f2937;
    color: #f9faf8;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 0;
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
    
        a {
        display: contents;
        }
    }
}
.second {
    font-size: 2vw;
    color: #e5e7eb;
}
.main {
    font-size: 5vw;
    font-weight: 900;
    color: #f9faf8;
}
.button {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    width: 12vw;
    height: 3.5vw;
    color: #e5e7eb;
    padding: 1.5vw;
    border-radius: 2vw;
    font-size: 2vw;
}